<div class="jumbotron">
	<h1 class="text-center">CIAG USUÁRIO</h1>
</div>

<p ng-show="mensagem.length" class="alert alert-info">
	{{mensagem}}
</p>

<div class="row">
	<div class="col-md-12">
		<form>
			<div class="input-group">
				<span class="input-group-btn">
					<a href="/usuarios/new" class="btn btn-primary" type="button">
						Novo usuario
					</a>
				</span>
				<input class="form-control" placeholder="filtrar pelo nome do usuário" 
					ng-model="filtro" ng-model-options="{ debounce: 500 }">
		</form>
	</div> <!-- fim col-md-12 -->
</div> <!-- fim row -->

<div class="row">
    <meu-painel class="col-md-12 painel-animado" ng-repeat="usuarios in usuarios | filter: filtro" titulo="{{usuario.nome}}">
      

		<a class="btn btn-primary btn-block" href="/usuarios/edit/{{usuario.id}}">
			Editar
		</a>
		<meu-botao-perigo nome="Remover" acao="remover(usuario)">Remover</meu-botao-perigo>
    </meu-painel>
</div>
<meus-titulos></meus-titulos>