<div class="page-header text-center">
	<h1>{{usuario.nome}}</h1>
</div>

<p ng-show="mensagem.length" class="alert alert-info">{{mensagem}}</p>

<form novalidate name="formulario" class="row" ng-submit="submeter()">
	<div class="col-md-12">
		<div class="form-group">
			<label>Nome</label>
			<input name="nome" class="form-control" ng-model="usuario.nome" required>  

			<span ng-show = "formulario.$submitted && formulario.nome.$error.required"
				class="form-control alert-danger">
				Nome obrigatório
			</span>

		</div>
                
		<div class="form-group">
			<label>Login</label>
			<input name="login" class="form-control" ng-model="usuario.login" required>

			<span ng-show = "formulario.$submitted && formulario.login.$error.required" 
				class="form-control alert-danger">
				Login obrigatório
			</span> 
		</div>
        
        <div class="form-group">
			<label>Email</label>
			<input name="email" class="form-control" ng-model="usuario.email" required>

			<span ng-show = "formulario.$submitted && formulario.email.$error.required" 
				class="form-control alert-danger">
				Email obrigatório
			</span> 
		</div>
		
		<div class="form-group">
			<label>Senha</label>
			<input name="senha" class="form-control" ng-model="usuario.senha" required>

			<span ng-show = "formulario.$submitted && formulario.senha.$error.required" 
				class="form-control alert-danger">
				Senha obrigatória
			</span> 
            <span ng-show="formulario.$submitted && formulario.senha.$error.maxlength" 
				class="form-control alert-danger">
				No máximo 20 caracteres!
			</span>
		</div>

		<button type="submit" class="btn btn-primary" ng-disabled="formulario.$invalid">
			Salvar
		</button>
		<a href="/" meu-focus class="btn btn-primary">Voltar</a>
		<hr>
	</div>
	
</form>